<div class="doc-page" data-company="(주)진흥관리" data-layout="jinheung">
      <img class="template-bg" src="assets/templates/jinheung.png" alt="(주)진흥관리 취업규칙동의서" />
      <div class="field field-apartment" data-field="apartment" style="left:46.8%;top:12.2%;font-size:29px;"></div>
<div class="field field-position" data-field="position" style="left:85.0%;top:12.2%;font-size:23px;"></div>
<div class="field field-name" data-field="name" style="left:46.8%;top:19.4%;font-size:25px;"></div>
<div class="field field-birth" data-field="birth" style="left:85.0%;top:19.4%;font-size:23px;"></div>
<div class="field field-changeDate" data-field="changeDate" style="left:65.0%;top:33.8%;font-size:18px;"></div>
<div class="field field-fee" data-field="fee" style="left:72.5%;top:40.0%;font-size:16px;"></div>


<div class="field field-signedDate" data-field="signedDate" style="left:82.0%;top:72.0%;font-size:18px;"></div>
<div class="field field-applicant" data-field="applicant" style="left:68.0%;top:75.0%;font-size:20px;"></div>
<img class="signature-overlay" data-field="signature" alt="서명" style="left:86.0%;top:74.8%;" />
    </div>