<div class="doc-page" data-company="(주)진흥관리" data-layout="jinheung">
      <img class="template-bg" src="assets/templates/jinheung.png" alt="(주)진흥관리 취업규칙동의서" />
      <div class="field field-apartment" data-field="apartment" style="left:46.8%;top:12.0%;"></div>
<div class="field field-position" data-field="position" style="left:84.5%;top:12.0%;"></div>
<div class="field field-name" data-field="name" style="left:46.8%;top:19.0%;"></div>
<div class="field field-birth" data-field="birth" style="left:84.0%;top:19.0%;"></div>
<div class="field field-changeDate" data-field="changeDate" style="left:64.0%;top:32.6%;"></div>
<div class="field field-fee" data-field="fee" style="left:77.0%;top:39.0%;"></div>


<div class="field field-signedDate" data-field="signedDate" style="left:80.0%;top:70.6%;"></div>
<div class="field field-applicant" data-field="applicant" style="left:68.0%;top:74.0%;"></div>
<img class="signature-overlay" data-field="signature" alt="서명" style="left:85.0%;top:74.0%;" />
    </div>