<div class="doc-page" data-company="(주)진흥관리" data-layout="jinheung">
      <img class="template-bg" src="assets/templates/jinheung.png" alt="(주)진흥관리 취업규칙동의서" />
      <div class="mask mask-apartment" style="left:47.0%;top:12.0%;width:28.0%;height:5.2%;"></div>
      <div class="mask mask-position" style="left:84.3%;top:12.0%;width:20.5%;height:5.2%;"></div>
      <div class="mask mask-name" style="left:47.0%;top:19.0%;width:28.0%;height:5.2%;"></div>
      <div class="mask mask-birth" style="left:84.0%;top:19.0%;width:20.8%;height:5.2%;"></div>
      <div class="mask mask-changeDate" style="left:64.0%;top:32.8%;width:21.5%;height:7.5%;"></div>
      <div class="mask mask-fee" style="left:77.0%;top:39.0%;width:17.8%;height:6.0%;"></div>
      <div class="mask mask-signedDate" style="left:80.0%;top:70.6%;width:21.0%;height:3.8%;"></div>
      <div class="mask mask-applicant" style="left:69.0%;top:74.0%;width:13.0%;height:3.4%;"></div>

      <div class="field field-apartment" data-field="apartment" style="left:47.0%;top:12.0%;"></div>
<div class="field field-position" data-field="position" style="left:84.3%;top:12.0%;"></div>
<div class="field field-name" data-field="name" style="left:47.0%;top:19.0%;"></div>
<div class="field field-birth" data-field="birth" style="left:84.0%;top:19.0%;"></div>
<div class="field field-changeDate" data-field="changeDate" style="left:64.0%;top:32.8%;"></div>
<div class="field field-fee" data-field="fee" style="left:77.0%;top:39.0%;"></div>


<div class="field field-signedDate" data-field="signedDate" style="left:80.0%;top:70.6%;"></div>
<div class="field field-applicant" data-field="applicant" style="left:69.0%;top:74.0%;"></div>
<img class="signature-overlay" data-field="signature" alt="서명" style="left:85.0%;top:74.0%;" />
    </div>