<div class="doc-page" data-company="미래티엠에스" data-layout="stdB">
      <img class="template-bg" src="assets/templates/mirae_tms.png" alt="미래티엠에스 취업규칙동의서" />
      <div class="field field-apartment" data-field="apartment" style="left:38.3%;top:20.4%;font-size:25px;"></div>
<div class="field field-position" data-field="position" style="left:72.4%;top:20.4%;font-size:22px;"></div>
<div class="field field-name" data-field="name" style="left:38.3%;top:26.4%;font-size:23px;"></div>
<div class="field field-birth" data-field="birth" style="left:72.4%;top:26.4%;font-size:22px;"></div>
<div class="field field-changeDate" data-field="changeDate" style="left:58.0%;top:37.5%;font-size:18px;"></div>
<div class="field field-fee" data-field="fee" style="left:77.0%;top:39.0%;font-size:16px;"></div>


<div class="field field-signedDate" data-field="signedDate" style="left:73.0%;top:70.2%;font-size:18px;"></div>
<div class="field field-applicant" data-field="applicant" style="left:61.5%;top:73.3%;font-size:20px;"></div>
<img class="signature-overlay" data-field="signature" alt="서명" style="left:79.5%;top:73.0%;" />
    </div>