<div class="doc-page" data-company="신한영" data-layout="stdC">
      <img class="template-bg" src="assets/templates/shinhan_young.png" alt="신한영 취업규칙동의서" />
      <div class="field field-apartment" data-field="apartment" style="left:38.0%;top:20.2%;"></div>
<div class="field field-position" data-field="position" style="left:72.0%;top:20.2%;"></div>
<div class="field field-name" data-field="name" style="left:38.0%;top:26.1%;"></div>
<div class="field field-birth" data-field="birth" style="left:72.0%;top:26.1%;"></div>
<div class="field field-changeDate" data-field="changeDate" style="left:58.0%;top:37.2%;"></div>
<div class="field field-fee" data-field="fee" style="left:76.8%;top:38.8%;"></div>


<div class="field field-signedDate" data-field="signedDate" style="left:72.8%;top:70.0%;"></div>
<div class="field field-applicant" data-field="applicant" style="left:61.5%;top:73.1%;"></div>
<img class="signature-overlay" data-field="signature" alt="서명" style="left:79.5%;top:72.9%;" />
    </div>